#.pyre/
.vscode/settings.json
#CPACproject/*.cfg
#CPACproject/Scripts/activate*
#CPACproject/Scripts/*.ps1
#CPACproject/Scripts/cv
#CPACproject/Scripts/*.bat
#CPACproject/Scripts/*.exe
#CPACproject/Scripts/numba
#CPACproject/Scripts/pycc
#CPACproject/Scripts/pywin32*
#CPACproject/share/*
#binary/*
#my_workspace.code-workspace
#*.code-workspace
CPACproject/*
Live_album_cover/*
_pycache_/
data/*